<div>
  <jce-spinner [visible] = 'isLoading'></jce-spinner>
  <jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
  <h3>Users list:</h3>
  <i *ngIf="isLoading" class="fa fa-spinne da-spin fa-3x"></i>
  <ul class="list-group users">
        <li class="list-group-item" *ngFor = "let user of users" 
          [class.active]="currentUser == user"
          (click)="select(user)" >
            <jce-user [user] = "user" (deleteEvent) = "deleteUser($event)" (editEvent) = "editUser($event)"></jce-user>
        </li>
  </ul>
</div>